* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

#header {
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%;
}
.tituloPrincipal {
  float: left;
}
.navbar-light .navbar-nav .nav-link {
  color: white;
}

.card {
  width: 400px;
  height: auto;
  margin: 50px auto;
}
